{% load static %}
{% load custom_tags %}
<!-- about -->
<div class="informations" id="about-us">
    <section class="section information-container">
        <div class="section-header" data-aos="fade-up">
            <span class="section-title">
                درباره ما
            </span>
            <hr class="section-line">
        </div>
        <div class="section-body information about-us-info" data-aos="fade-up">
            <p class="about-us">
                {% get_context part="ABOUT_US" from_settings=True %}
            </p>

        </div>
    </section>
    <section class="section information-container">
        <div class="section-header" data-aos="fade-up">
            <span class="section-title">
                تماس با ما
            </span>
            <hr class="section-line">
        </div>
        <div class="section-body information contact-us-info" data-aos="fade-up">
            <div class="contact-us">
                <div class="contact-us-item" id="address">
                    <i class="me-3 fas fs-4 fa-map-marked-alt"></i>
                    <p>{% get_context part="LOCATION_ADDRESS" from_settings=True %}
                    </p>
                </div>
                <div class="contact-us-item mt-3" id="address">
                    <i class="me-3 fas fs-4 fa-phone-square"></i>
                    <p>تلفن : <a href="tel:{% get_context part='MOBILE_PHONE' from_settings=True %}">{% get_context part="MOBILE_PHONE" from_settings=True %}</a>
                    </p>
                </div>

            </div>

            <div class="newsletter-container">
                <div class="newsletter" data-aos="swing">
{#                    <div class="newsletter-body">#}
{#                        <p class="mb-3"><i class="fas fa-bullhorn fs-4"#}
{#                                           style="transform: scaleX(-1);"></i>&nbsp;&nbsp;خبر#}
{#                            نامه</p>#}
{#                        <div class="d-flex">#}
{#                            <input type="email" placeholder="ایمیل خود را وارد کنید">#}
{#                            <button aria-label="newsletter-send-btn" class="btn btn-primary shadow-0 me-1">#}
{#                                <i class="fas fa-paper-plane"></i>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="newsletter-footer mt-3">
                        <a aria-label="contact with telegram" href="{% get_context part='TELEGRAM_ID' from_settings=True %}"
                           class="icon ripple" id="telegram"></a>
                        <a aria-label="contact with whatsapp" href="{% get_context part='WHATSAPP_NUMBER' from_settings=True %}"
                           class="icon ripple" id="whatsapp"></a>
                        <a aria-label="contact with instagram" href="{% get_context part='INSTAGRAM_USER' from_settings=True %}"
                           class="icon ripple" id="instagram"></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- about -->