<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WN9REJJJ2R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WN9REJJJ2R');
</script>

    <!-- Material Design Bootstrap 5 -->
    <!-- MDB -->
    <!-- Font Awesome -->
    <link href="{% static 'modules/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'modules/mdb.rtl.min.css' %}" rel="stylesheet" />
    <!-- Material Design Bootstrap 5 -->


    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'modules/swiper-bundle.min.css' %}" />
    <!-- Link Swiper's CSS -->

    <!-- scroll animating -->
    <link href="{% static 'modules/aos.css' %}" rel="stylesheet">
    <!-- scroll animating -->
    
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'main/' %}styles/base.css">
    <link rel="stylesheet" href="{% static 'main/' %}styles/nav.css">
    <!-- styles -->

    {% block header-scripts %}
    {% endblock %}

    {% block links %}{% endblock links %}

    {% block metatags %}
        <meta name="description" property="og:description" content="{{ meta_description }}">
        <meta name="keywords" content="{{ meta_keywords }}">

    {% endblock metatags %}

    <title>{% block title %}{{ title }} | اتاق فرار قم {% endblock title %}</title>

    {% block headstyles %}{% endblock headstyles %}
</head>
<body>
    {% block banner %}
        <a href="{% get_context part='topbanner' tag="link" %}">
        <div class="global-banner w-100 flex-fill d-flex align-items-center justify-content-center">
            {% get_context part='topbanner' tag="text" %}
        </div>
        </a>
    {% endblock banner %}
    {% block body %}
    <div class="mb-content">

        {% block navbar %}
            {% include 'main/nav.html' %}
        {% endblock navbar %}

        {% block content %}{% endblock content %}

    </div>

    {% endblock body %}
    
    <!-- Axios -->
    <script src="{% static 'modules/axios.min.js' %}"></script>
    <!-- Axios -->
    
    <!-- Material Design Bootstrap 5 -->
    <script defer type="text/javascript" src="{% static 'modules/mdb.min.js' %}"></script>
    <!-- Material Design Bootstrap 5 -->

    <!-- Swiper JS -->
    <script defer src="{% static 'modules/swiper-bundle.min.js' %}"></script>
    <!-- Swiper JS -->

    <!-- scroll animating -->
    <script defer src="{% static 'modules/aos.js' %}"></script>
    <!-- scroll animating -->
    <script src="{% static 'modules/vue.js' %}"></script>
    <script defer src="{% static 'main/' %}scripts/calendar.js"></script>
    <script defer src="{% static 'main/' %}scripts/base.js"></script>
    <script defer src="{% static 'main/' %}scripts/nav.js"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
