{% extends 'main/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/' %}styles/footer.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/cities.css">
{% endblock %}

{% block banner %}

{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="page">
    <div class="header">
        <div>
            <img loading="lazy" width="100%" src="{% static 'main/' %}images/riddle-logo.png" alt="">
        </div>
        <h1 class="fw-bold">خانه معما</h1>
    </div>
    <div class="city-names">
        <h4 class="city-btn qum-btn">
            قم
        </h4>
        <h4 class="city-btn ahvaz-btn">
            اهواز
        </h4>
    </div>
    <div class="cities">
        <div class="city qum">

            <!-- <div class="city-detail d-flex flex-column">
                <h2></h2>
                <button class="btn btn-light">
                    ورود به سایت قم
                </button>
            </div> -->
        </div>
        <div class="city ahvaz">
            <!-- <div class="city-detail d-flex flex-column">
                <h2></h2>
                <button class="btn btn-light">
                    ورود به سایت اهواز
                </button>
            </div> -->
        </div>
    </div>

    <div class="position-absolute bottom-0 w-100 d-flex justify-content-center" style="margin-bottom: 3em;">
        <button class="btn btn-light  btn-lg shadow-0">
            تمام حقوق سایت متعلق به خانه معما استان قم می باشد | هرگونه کپی برداری پیگرد قانونی خواهد داشت.

        </button>
    </div>

</div>

{% endblock %}



{% block scripts %}
<script>

    let btn_list = document.querySelectorAll('.city-btn')
    console.log(btn_list);
    btn_list.forEach(item => {
        let class_list = Array.from(item.classList)
        item.addEventListener('mouseover', () => {
            console.log(class_list);
            if (class_list.includes('qum-btn')) {
                document.querySelector('.qum').classList.add('hoverd')
            }
            else if (class_list.includes('ahvaz-btn')) {
                document.querySelector('.ahvaz').classList.add('hoverd')
            }
        })

        
        item.addEventListener('mouseout', () => {
            console.log(class_list);
            if (class_list.includes('qum-btn')) {
                document.querySelector('.qum').classList.remove('hoverd')
            }
            else if (class_list.includes('ahvaz-btn')) {
                document.querySelector('.ahvaz').classList.remove('hoverd')
            }
        })


        
    })

</script>
{% endblock %}