{% load static %}
{% load custom_tags %}
<!-- footer -->
<div class="d-flex flex-column footer-container">
    <div class="footer">
        <div class="footer-detail">

            <div class="sitemap">
                <ul>
                    <li class="fw-bold">منو</li>
                    <a href="https://blog.riddlehouse.ir/">
                        <li>بلاگ</li>
                    </a>
                    <a href="https://blog.riddlehouse.ir/category/%d8%b1%d8%b3%d8%a7%d9%86%d9%87/">
                        <li>در رسانه</li>
                    </a>
                    <a href="#rooms">
                        <li>بازیها</li>
                    </a>
                </ul>
            </div>
            <div class="branch">
                <ul>
                    <li class="fw-bold">دسترسی سریع</li>
                    <a href="https://qom.riddlehouse.ir">
                        <li>قم</li>
                    </a>
                    
                </ul>
            </div>
        </div>
        <span class="mb-expand"></span>

        <div class="licenses">
            <ul>
                <li class="license-item">
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=430639&Code=zzeLeXiZY6yjxPAhtAwcMpxq2dnbNJAT'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=430639&Code=zzeLeXiZY6yjxPAhtAwcMpxq2dnbNJAT' alt='' style='cursor:pointer' Code='zzeLeXiZY6yjxPAhtAwcMpxq2dnbNJAT'></a>
                    <a href="#">
                        <img loading="lazy" src="{% static 'main/' %}images/licenses/SANAYE-KHALAGH-190x190.png"
                             alt="نماد صنایع خلاق">
                    </a>
                </li>

                <li class="license-item">
                    <a href="#">
                        <img loading="lazy" src="{% static 'main/' %}images/licenses/qum-park.png"
                             alt="پارک علم و فناوری استان قم">
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="shadow-5 mt-3  position-relative rounded d-flex flex-fill">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d706.1387538199047!2d50.88925905129819!3d34.648092413441596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f93bb8b87541615%3A0x6a6ee1080cdf954b!2z2KfYqtin2YIg2YHYsdin2LEg2YLZhSDYrtin2YbZhyDZhdi52YXYpyAtINio2KfYstuMINmF2LfYsdmI2K8!5e0!3m2!1sen!2s!4v1711115992382!5m2!1sen!2s"
                style="border: 0px none;border-radius: 10px;" class="w-100 h-100"></iframe>
        <div class="position-absolute end-0 bottom-0 me-3 mb-3">
            <a href="https://nshn.ir/cf_bsMDtexvr2V" target="_blank">
                <button class="btn btn-primary">
                    <img src="{% static 'main/images/neshan-logo.png' %}" width="14px" height="14px" alt="">
                    مسیریابی با نشان
                </button>
            </a>
        </div>
    </div>
</div>


<!-- footer -->

<!-- copyright -->
<div
        class="copyright bg-danger p-3 mt-2 rtl text-center text-white d-flex align-itens-center justify-content-center">
    تمام حقوق سایت متعلق به خانه معما استان قم می باشد | هرگونه کپی برداری پیگرد قانونی خواهد داشت.
</div>
<!-- copyright -->