{% extends 'main/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/' %}styles/head-slider.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/description.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/surprise-box.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/rooms.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/informations.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/footer.css">


{% endblock links %}

{% block content %}

<div class="position-fixed h-100">

</div>
{% include 'main/landing/slider.html' %}
{% include 'main/landing/description.html' %}
{% if box %}
{% include 'main/landing/surprisebox.html' %}
{% endif %}
{% include 'main/rooms.html' %}
{% include 'main/about.html' %}
{% include 'main/footer.html' %}

{% endblock content %}

{% block scripts %}
<script defer src="{% static 'main/' %}scripts/landing.js"></script>
{% endblock scripts %}