<div :class="datepicker ? 'show' : '' " class="reserve-weekday-picker-container">
    <div class="reserve-weekday-picker-back" @click='datepicker = false'></div>
    <div style="z-index: 10;" class="reserve-weekday-picker">

        <div class="calendar-loader mb-loader bg-white bg-opacity-50" :class="!changing_calendar ? 'd-none' : '' ">
            <i class="fas fa-spinner fa-2x loading"></i>
        </div>
        <div class="calendar-head" ref='calendar_head'>
            <button class="btn btn-secondary next_month_btn" @click='get_previous_month'>
                <i class="fas fa-caret-right"></i>
                &nbsp;
                <span>ماه قبل</span>
            </button>
            <span class="today">[[get_current_date()]]</span>
            <button class="btn btn-secondary previous_month_btn" @click='get_next_month'>
                <span>ماه بعد</span>
                &nbsp;
                <i class="fa fa-caret-left"></i>
            </button>
        </div>
        <div class="calendar"></div>
    </div>
</div>