{% load static %}
{% load humanize %}
<div class="room-reserve-detail">
    

    <!-- reserve stepper -->
    {% include 'main/roompage/reserve_steps/stepper.html' %}
    <!-- reserve stepper -->

    <div class="room-desctiption">

        <!-- room description -->
        {% include 'main/roompage/reserve_steps/templates/description.html' %}
        <!-- room description -->

        <!-- room ruls -->
        {% include 'main/roompage/reserve_steps/templates/ruls.html' %}
        <!-- room ruls -->


        <!-- room date selector -->
        {% if room.room_type == "REAL" %}
            {% include 'main/roompage/reserve_steps/templates/date_select.html' %}
        {% else %}
            {% include 'main/roompage/reserve_steps/templates/escape_date_select.html' %}
        {% endif %}
        <!-- room date selector -->
            
        <!-- room information form -->
        {% include 'main/roompage/reserve_steps/templates/information_form.html' %}
        <!-- room information form -->

    </div>

    <div class="room-action-bar" v-show='step < 4'>

            <!-- room description actions -->
            {% include 'main/roompage/reserve_steps/actions/description.html' %}
            <!-- room description actions -->
    
            <!-- room ruls actions -->
            {% include 'main/roompage/reserve_steps/actions/ruls.html' %}
            <!-- room ruls actions -->
    
            <!-- room date selector actions -->
            {% if room.room_type == "REAL" %}
                {% include 'main/roompage/reserve_steps/actions/date_select.html' %}
                {% else %}
                {% include 'main/roompage/reserve_steps/actions/escape_date_select.html' %}
            {% endif %}
            <!-- room date selector actions -->

    </div>
</div>