{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
<link href="{% static 'modules/mdb.rtl.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'panel/' %}styles/coupan.css">
<link rel="stylesheet" href="{% static 'panel/' %}styles/coupan-ticket.css">
<link rel="stylesheet" href="{% static 'panel/' %}styles/dialog.css">
{% endblock %}
{% block contentHead %}
  <div class="content-head">
    <h4>کدهای تخفیف</h4>
  </div>
{% endblock %}


{% block dialogs %}
{% include 'panel/coupan/coupan-add-pupop.html' %}
{% endblock dialogs %}

{% block content %}
  <div class="coupan-container mb-rtl">
    <div class="mb-filter mb-card mb-3">
      <button class="btn btn-success" @click='coupan_add_pupop = true'>
        +&nbsp;&nbsp;ایجاد کد تخفیف
      </button>
    </div>
    <div class="container-fluid">
      <table class="table align-middle mb-0 coupan-table">
        <tbody>
          {% for coupon in coupons %}
            <tr>
              <td class="border-0 sm-coupan-col">
              <div class="d-flex align-items-center">
                <div>
                  <p class="fw-bold mb-1">کد تخفیف: <span class="badge badge-primary"><i class="far fa-clone"></i> {{ coupon.code }}</span></p>
                </div>
              </div>
              </td>
              <td class="border-0 sm-coupan-col">
              <span class="coupan-action-item btn btn-sm btn-link text-danger">
                {% if coupon.type == "P" %}
                <span class="badge badge-primary">{{ coupon.amount }} درصد </span>
                    {% else %}
                    <span class="badge badge-primary">{{ coupon.amount|intcomma }} تومان </span>
                {% endif %}
                <span class="badge badge-warning">{{ coupon.used }} استفاده شده </span>
                  <span class="badge badge-info">{{ coupon.capacity }} ظرفیت </span>
              </span>
              </td>
            </tr>
            <tr class="sm-coupan-room-row">
              <td colspan="2" class="sm-coupan-col">
              <span class="fw-bold">بازی ها: </span>
                {% for room in coupon.available_rooms.all %}
                              <span class="badge badge-info">{{ room.name }}</span>
                {% endfor %}


            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center text-danger">
              <form method="post" action="{% url 'main:remove-coupon' pk=coupon.pk %}">
                  {% csrf_token %}
                <button type="submit" value="delete" name="action" class="btn btn-link text-danger">
                  <i class="far fa-trash-alt"></i>
                <span>حذف تخفیف</span>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}


{% block footer-scripts %}
<script src="{% static 'modules/vue.js' %}"></script>
<script src="{% static 'panel/scripts/coupan.js' %}"></script>

{% endblock %}