{% load static %}
<!-- Surprise Box -->
<section class="surprise-box" data-aos="fade-up">
    <div class="surprise-box-image">
        <img loading="lazy" src="{% static 'main/' %}images/surprise-room.jpg" alt="">
    </div>
    <div class="surprise-box-detail">
        <h2>فرار غافلگیرانه</h2>
        <h3>(( برای اولین بار در ایران ))</h3>
        <p>
            تاحالا شده به این فکر کنی که چطور میتونی کسیو که خیلی دوسش داری با غافلگیرانه ترین حالت ممکن، اونم
            درست جایی که فکرشو نمیکنه، با روشی متفاوت و خیلی جذاب اونم توی خونه غالفگیر کنی؟<br>
            تاحالا شده دلت بخواد، برای اونی که برات خیلی خاصِّ یک اتفاق خاص رقم بزنی؟<br>
            تاحالا شده با زبونی متفاوت بهش بگی دوست دارم؟!<br>
            خانه معما برای اولین بار در ایران این فرصتو برات فراهم کرده که هیجانی ترین سورپرایز و برای عزیز ترین
            فرد زندگیت رقم بزنی
        </p>
        <div class="mt-3">
            <button class="btn btn-lg btn-success shadow-0" style="width: 10em;">رزرو</button>
            <button class="btn btn-lg btn-primary shadow-0" style="width: 10em;">توضیحات</button>
        </div>
    </div>
</section>
<!-- Surprise Box -->