{% extends 'panel/base.html' %}
{% load static %}
{% block styles %}


<link rel="stylesheet" href="{% static 'panel/' %}styles/create.css">
<link rel="stylesheet" href="{% static 'panel/' %}styles/dialog.css">
{% endblock %}
{% block contentHead %}
<div class="content-head">
    <h4>ویرایش ' {{room.name}} '</h4>

</div>
{% endblock %}



{% block header-scripts %}
{% autoescape off %}
<script src="{% static 'modules/tinymce.min.js' %}"></script>
<script>
    document.room_obj = {}
    let weekdays = {{ room.default_days }} ;
    let default_hours = {{ room.default_hours }};
    let room_type = "{{room.room_type}}";
    let box_packages
    {% if room.box_packages_prices %}
        box_packages = {{room.box_packages_prices}} ;
            {% else %}
        box_packages = "" ;
    {% endif %}

    document.room_obj.weekdays = weekdays
    document.room_obj.default_hours = default_hours
    document.room_obj.room_type = room_type
    document.room_obj.box_packages = box_packages



</script>


<script>

    function set_content(editor, content) {
        editor.setContent(content)
    }

    tinymce.init({
        init_instance_callback: (editor) => set_content(editor, `{{room.description}}`),
        height: "300",
        language: 'fa',
        statusbar: false,
        selector: '#description',
        plugins: [
            'lists', 'link', 'image', 'preview', 'table', 'insertdatetime', 'media', 'codesample', 'emoticons', 'directionality'
        ],

        menubar: false,
        toolbar1: 'ormatpainter casechange blocks | table tabledelete | link  numlist bullist | codesample emoticons code insertdatetime preview',
        toolbar2: 'bold italic forecolor backcolor removeformat | ltr rtl | alignleft aligncenter alignright alignjustify | hr',

    });
    tinymce.init({
        init_instance_callback: (editor) => set_content(editor, `{{room.warnings}}`),
        height: "300",
        language: 'fa',
        statusbar: false,
        selector: '#warnings',
        plugins: [
            'lists', 'link', 'image', 'preview', 'table', 'insertdatetime', 'media', 'codesample', 'emoticons', 'directionality'
        ],

        menubar: false,
        toolbar1: 'ormatpainter casechange blocks | table tabledelete | link  numlist bullist | codesample emoticons code insertdatetime preview',
        toolbar2: 'bold italic forecolor backcolor removeformat | ltr rtl | alignleft aligncenter alignright alignjustify | hr',

    });
    tinymce.init({
        init_instance_callback: (editor) => set_content(editor, `{{room.conditions}}`),
        height: "300",
        language: 'fa',
        statusbar: false,
        selector: '#conditions',
        plugins: [
            'lists', 'link', 'image', 'preview', 'table', 'insertdatetime', 'media', 'codesample', 'emoticons', 'directionality'
        ],

        menubar: false,
        toolbar1: 'ormatpainter casechange blocks | table tabledelete | link  numlist bullist | codesample emoticons code insertdatetime preview',
        toolbar2: 'bold italic forecolor backcolor removeformat | ltr rtl | alignleft aligncenter alignright alignjustify | hr',

    });
</script>
{% endautoescape %}
{% endblock %}



{% block content %}
<form method="post" action="" enctype="multipart/form-data" ref='room_create_form' class="container mb-rtl mt-5">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="row">
                <div class="mb-3 col-lg-4 col-12">
                     <label for="name" class="form-label">نام اتاق</label>

                    <input name="name" type="text" class="form-control" id="name" placeholder="نام اتاق"
                        value="{{room.name}}">
                </div>
                <div class="mb-3 col-lg-4 col-12">
                     <label for="pre_price" class="form-label">مبلغ پیش پرداخت</label>

                    <input name="pre_pay" type="text" class="form-control" id="pre_price" placeholder="مبلغ پیش پرداخت"
                        value="{{room.pre_pay}}">
                </div>
                <div class="mb-3 col-lg-4 col-12">
                     <label for="pre_price" class="form-label">مدت زمان بازی</label>

                    <input name="duration" type="text" class="form-control" id="game_duration" placeholder="طول زمان بازی" value="{{ room.game_duration }}">
                </div>
                <div class="mb-3 col-4">
                   <label for="difficulty" class="form-label ">سختی
                        بازی</label>
                    <input name="difficulty" type="number" class="form-control" id="difficulty" placeholder="سختی بازی"
                        value="{{room.difficulty}}">
                </div>
                <div class="mb-3 col-4">
                    <label for="min-player" class="form-label ">حداقل
                        بازیکن</label>
                    <input name="min_players" type="number" class="form-control" id="min-player"
                        placeholder="حداقل بازیکن" value="{{room.min_players}}">
                </div>
                <div class="mb-3 col-4">
                    <label for="max-player" class="form-label ">حداکثر
                        بازیکن</label>
                    <input name="max_players" type="number" class="form-control" id="max-player"
                        placeholder="حداکثر بازیکن" value={{room.max_players}}>
                </div>
            </div>
        </div>
        <div class="banner-section col-lg-6 col-12 mb-3">
            <input type="file" accept="image/png,image/jpeg,image/jpg" class="form-control d-none" name='banner'
                id="banner" @change='handle_banner' />
            <div class="form-control banner-label">
                <div class="banner-detail" dir="ltr">
                    <p :class='get_banner_name ? "banner-animate-block" : ""' class="banner-d-none fw-bold mb-1">
                        <i class="fas fa-upload"></i>&nbsp;
                        [[get_banner_name]]
                    </p>
                    <p :class='get_banner_size ? "banner-animate-block" : ""' class="banner-d-none m-0">
                        <span class="badge badge-secondary">
                            <i class="far fa-hdd"></i>&nbsp;
                            [[get_banner_size]]
                        </span>
                        <span class="badge badge-info">
                            <i class="far fa-file-alt"></i>&nbsp;
                            [[get_banner_type]]
                        </span>
                        <span>
                            <label for="banner" class="badge badge-warning">
                                <i class="fas fa-sync"></i></i>&nbsp;
                                تغییر تصویر
                            </label>
                        </span>
                    </p>
                </div>
                <label :class='!banner ? "banner-animate-block" : ""' for="banner"
                    class="banner-d-none btn btn-link btn-sm text-basic banner-selector">
                    <i class="far fa-images"></i>&nbsp;
                    انتخاب یا تغییر تصویر
                </label>

                <div :class='get_banner_src ? "banner-animate-block" : ""' class="banner-d-none banner-img">
                    <img :src="get_banner_src" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-12 mb-md-0 mb-4">
            <div class="col-12 mb-2 badge badge-basic fs-6 py-2">
                نوع اتاق و قیمت ها
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <select name="room_type" class="form-select" aria-label="Default select example"
                        v-model='room_mode'>
                        <option selected disabled>نوع بازی</option>
                        <option value="real">معمولی</option>
                        <option value="box">اسکیپ باکس</option>
                    </select>
                </div>
                <div class="col-6">
                    {% comment %} <label for="price" class="form-label ">قیمت هر نفر</label>
                    {% endcomment %}
                    <input name="price" type="number" class="form-control" :disabled='room_mode == "box"' id="price"
                        placeholder="قیمت هر نفر" value="{{room.price_per_unit}}">
                </div>
            </div>
            <div class="row mb-3" v-if='packages.length > 0 && room_mode == "box"'>
                <div class="col-12 d-flex mt-1" v-for='(package, index) in packages'>
                    <input type="hidden" name='price' :value="[[package.price]]">
                    <div class="d-flex align-items-center flex-fill packages-container shadow-2 fs-6">
                        <i class="far text-success fa-check-circle fa-lg ms-2"></i>
                        <span>[[package.name]] : [[package.price]] تومان</span>
                        <span class="mb-expand"></span>
                        <span class="btn btn-link text-danger shadow-0" @click="() => removePackage(package.id)">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div v-if='room_mode == "box" && packages.length < 3' class="d-flex">
                <input type="number" class="form-control" id="add_package" ref='add_package' placeholder="قیمت پکیج">
                <div><span @click='add_package' class="btn btn-success fs-6 me-2"><i class="fas fa-check"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 ">
            <div class="col-12 mb-2 badge badge-basic fs-6 py-2">
                روزهای هفته و ساعات
            </div>
            <div class="row">
                <div class="mb-3 col-12 weekday-selector">
                    <input class="d-none" type="checkbox" name='weekday' id='d-1' value="1">
                    <label for="d-1" class="ripple btn btn-basic rounded shadow-2">
                        <span>شنبه</span>
                    </label>
                    <input class="d-none" type="checkbox" name='weekday' id='d-2' value="2">
                    <label for="d-2" class="ripple btn btn-basic rounded shadow-2">
                        <span>یکشنبه</span>
                    </label>
                    <input class="d-none" type="checkbox" name='weekday' id='d-3' value="3">
                    <label for="d-3" class="ripple btn btn-basic rounded shadow-2">
                        <span>دوشنبه</span>
                    </label>
                    <input class="d-none" type="checkbox" name='weekday' id='d-4' value="4">
                    <label for="d-4" class="ripple btn btn-basic rounded shadow-2">
                        <span>سه شنبه</span>
                    </label>
                    <input class="d-none" type="checkbox" name='weekday' id='d-5' value="5">
                    <label for="d-5" class="ripple btn btn-basic rounded shadow-2">
                        <span>چهارشنبه</span>
                    </label>
                    <input class="d-none" type="checkbox" name='weekday' id='d-6' value="6">
                    <label for="d-6" class="ripple btn btn-basic rounded shadow-2">
                        <span>پنجشنبه</span>
                    </label>
                    <input class="d-none" type="checkbox" name='weekday' id='d-7' value="7">
                    <label for="d-7" class="ripple btn btn-basic rounded shadow-2">
                        <span>جمعه</span>
                    </label>
                </div>
                <div class="col-12 user-select-none">
                    <div class="form-control">
                        <div class="row px-2  mt-2 mb-2" dir="ltr">
                            <input :disabled='room_mode == "box"' @input='set_time' class="time-picker my-3 col-12"
                                ref='timepicker' type="range" min="0" max="288" steps="1" value="0" id='time-picker'>
                            <div class="col-12 d-flex align-items-center justify-content-center bg-light shadow-2">
                                <span class=" btn text-success btn-link fs-6" @click='addTag'><i
                                        class="fas fa-check"></i></span>
                                <span class="mx-3 fw-bold">[[time]]</span>
                                <span @click='handle_tag_remove_all' class=" btn text-danger btn-link fs-6">
                                    <i v-if='!tag_remove_all' class="fas fa-times"></i>
                                    <i v-else class="fas fa-check text-success"></i>
                                </span>
                                <span @click='tag_remove_all = false' v-show='tag_remove_all'
                                    class="btn text-danger btn-link fs-6"><i class="fas fa-times"></i></span>

                            </div>
                        </div>
                        <div v-if='tags.length > 0' class="d-flex justify-content-center flex-wrap mt-2">
                            <span v-for="(tag, index) in tags" class="zoom-effect badge badge-info fw-light m-1 fs-6">
                                <input @click='reset_time_picker' type="hidden" name='hours' :id="'hour_' + index"
                                    :value="[[tag]]">
                                <label :for="'hour_' + index">
                                    <span>[[tag]]</span>
                                    <span @click='() => removeTag(tag)' class="me-2" style="cursor:pointer;"> <i
                                            class="fas fa-times text-danger"></i></span>
                                </label>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 col-12 mb-md-0 mb-4">
            <p>هشدار ها</p>
            <input name="warnings" type="text" id="warnings">
        </div>
        <div class="col-md-6 col-12">
            <p>نکات و قوانین</p>
            <input name="conditions" type="text" id="conditions">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-12 mb-md-0 mb-4">
            <p>توضیحات</p>
            <input name="descriptions" type="text" id="description">
        </div>
        <div class="col-lg-6 col-12 mb-md-0 mb-4 d-flex flex-column">
            <p>نقشه و مکان اتاق</p>
            <input name="balad_link" type="text" class="form-control" id="balad_link" placeholder="لینک نشان" value="{{room.balad_link}}">
            <textarea placeholder="نقشه گوگل (تگ iframe)" name="google_map"  id="google_map" class="mt-2 border p-3 h-100 rounded-3" style="resize: none;">{{room.google_map}}</textarea>
            <input name="admin_phones" type="text" class="form-control" id="admin_phones" placeholder="شماره تلفن های پشتیبان ( با , جدا کنید )" value="{{room.admin_phones}}">

          </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4 text-end d-flex justify-content-md-end justify-content-center">
            <button class="btn btn-danger ms-2" type='reset' @click='reset_form($event)'>خالی کردن فرم</button>
            <button class="btn btn-primary" type="submot">ثبت اطلاعات</button>
        </div>
    </div>
</form>
{% endblock %}


{% block footer-scripts %}

<script src="{% static 'modules/vue.js' %}"></script>
<script src="{% static 'panel/scripts/create.js' %}"></script>

{% endblock %}