{% load static %}
{% load humanize %}

<!-- date picker -->
{% include 'main/roompage/calendar.html' %}
<!-- date picker -->

<!-- page loader -->
{#<div class="mb-loader bg-white fixed mb-text-dark-gray" :class="!page_loading ? 'd-none' : ''">#}
{#    <i class="fas fa-spinner fa-2x loading"></i>#}
{#</div>#}
<!-- page loader -->

<section class="teaser-section">
    <video id="video" class="hidden-xs" autoplay="" playsinline="" autobuffer="" __idm_id__="1343489">
        <!-- <source src="https://escaperoom.ir/new/web/assets/slider/16.9.webm" type="video/webm"> -->
        <!-- <source  src="https://escaperoom.ir/new/web/assets/slider/1.1.mp4" type="video/mp4" /> -->
    </video>
</section>

<section class="reserve-section">
    <div class="reserve-container">
        <div class="room-reserve mb-shadow">
            {% if room.room_type == "REAL" %}
                <div class="room-md-container mb-shadow-50">
                    <div class="room-md-image-container">
                        <img src="{{ room.banner.url }}" alt="خانه معما | اتاق فرار | {{ room.name }}"
                             class="room-md-image">
                    </div>
                    <div class="room-info room-md-info">
                        <div class="room-info-item">
                        <span class="info-icon">
                            <img loading="lazy" src="{% static 'main/' %}images/icons/detail-genre.svg"
                                 alt="ژانر | {{ room.name }}">
                        </span>
                            <span class="info-title mb-sans-num">اتاق فرار</span>
                        </div>
                        <hr class="hz">
                        <div class="vr"></div>
                        <div class="room-info-item">
                        <span class="info-icon">
                            <img loading="lazy" src="{% static 'main/' %}images/icons/detail-team.svg"
                                 alt="تعداد نفرات تیم | {{ room.name }}">
                        </span>
                            <span class="info-title mb-sans-num">{{ room.min_players }} تا {{ room.max_players }} نفر</span>
                        </div>
                        <hr class="hz">
                        <div class="vr"></div>
                        <div class="room-info-item">
                        <span class="info-icon">
                            <img loading="lazy" src="{% static 'main/' %}images/icons/detail-time.svg"
                                 alt="زمان بازی | {{ room.name }}">
                        </span>
                            <span class="info-title mb-sans-num">{{ room.game_duration }}</span>
                        </div>
                        <hr class="hz">
                        <div class="vr"></div>
                        <div class="room-info-item">
                        <span class="info-icon">
                            <img loading="lazy" src="{% static 'main/' %}images/icons/detail-dificalaty.svg"
                                 alt="سختی بازی | {{ room.name }}">
                        </span>
                            <span class="info-title mb-sans-num">{{ room.difficulty }}/100</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="room-md-container mb-shadow-50">
                    <div class="room-md-image-container">
                        <img src="{{ room.banner.url }}" alt="خانه معما | اتاق فرار | {{ room.name }}"
                             class="room-md-image">
                    </div>
                    <div class="room-info room-md-info">
                        <div class="room-info-item">
                        <span class="info-icon">
                            <img loading="lazy" src="{% static 'main/' %}images/icons/detail-genre.svg"
                                 alt="ژانر | {{ room.name }}">
                        </span>
                            <span class="info-title mb-sans-num">اسکیپ باکس</span>
                        </div>
                        <hr class="hz">
                        <div class="vr"></div>
                        {% for packages_price in room.box_packages_prices %}
                            <div class="room-info-item">
                            <span class="info-icon" style="width:100%;font-weight: bold">
                                پکیج {{ forloop.counter }}
                            </span>
                                <span class="info-title mb-sans-num">{{ packages_price|intcomma }} تومان </span>
                            </div>
                            <hr class="hz">
                            <div class="vr"></div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}

            <div class="room-reserve-detail">
                <div ref="stepper"></div>
                <div class="reserve-stepper" v-if="step > 1">
                    <div :class="step > 2 ? 'step-complete' : '' " class="step" @click='()=>{change_step(2)}'
                         id="rols"></div>
                    <div class="step-line">
                        <hr id="spliter">
                        <i class="fas fa-check-circle step-check"></i>
                    </div>
                    <div :class="step > 3 ? 'step-complete' : '' " class="step" @click='()=>{change_step(3)}'
                         id="turn"></div>
                    <div class="step-line">
                        <hr id="spliter">
                        <i class="fas fa-check-circle step-check"></i>
                    </div>
                    <div :class="step > 4 ? 'step-complete' : '' " class="step" id="info"></div>
                    <div class="step-line">
                        <hr id="spliter">
                        <i class="fas fa-check-circle step-check"></i>
                    </div>
                    <div :class="step >= 5 ? 'step-complete' : '' " class="step" id="resept"></div>
                </div>

                <div class="room-desctiption">
                    <div v-if="step == 1" data-aos="fade-right">
                        <h1 class="room-name">
                            فرار غافلگیرانه
                            <span class="mb-expand"></span>
                            <div class="md-price">
                                {% if room.price_per_unit %}
                                    <span class="badge badge-success fs-6">
                                    نفری {{ room.price_per_unit|intcomma }} تومان
                                </span>
                                {% endif %}

                            </div>
                        </h1>

                        <div class="room-scenario">
                            <strong>سناریو</strong>
                            <p>
                                {{ room.description }}
                            </p>
                            <br>
                            <strong>توضیحات</strong>
                            <p>این بازی با دکوری متفاوت و خاص، آمیخته با ترس و هیجان، یکی از سخت ترین اتاق های
                                مجموعه خانه معما می باشد. طراحی این اتاق بر اساس EQ ، IQ ، خلاقیت و کارِ گروهی
                                انجام
                                شده و برای رده سنی 16 سال به بالا مناسب است. توصیه می شود برای بازی در این اتاق
                                لباس
                                های راحت بپوشید و در صورت داشتن هرگونه بیماری قلبی، از شرکت در این بازی
                                بپرهیزید.
                            </p>
                            <br>
                            <strong>توجه</strong>
                            <p>- بازی فرار از آلکتاراز در پاییز 1398 توسط تیم طراحی خانه معما طراحی و اجرا شده
                                است .
                            </p>

                        </div>
                    </div>

                    <div v-if="step == 2" data-aos="fade-right" class="reserve-rols">
                        <b>بسیار مهم :</b>

                        حتما ۱۵ دقیقه قبل از شروع بازی برای توضیحات و آماده سازی در مجموعه خانه معما حضور
                        داشته باشید .در صورت تاخیر از زمان بازی شما کسر می شود و در صورت عدم حضور تا ۱۵
                        دقیقه پس از شروع زمان اصلی بازی، سانس شما لغو خواهد شد.
                        پس از رزرو تا زمان مشاهده کد رزرو منتظر بمانید . در صورت عدم دریافت کد رزرو ، مبلغ
                        تا 72 ساعت کاری به حساب شما بازخواهد گشت . در صورت بروز هرگونه مشکلی میتوانید با
                        شماره های پشتیبانی ثبت شده در سایت تماس حاصل نمایید.
                        <br>
                        رعایت شئونات اسلامی و حفظ حجاب الزامی است. در این اتاق بانوان می بایست لباس بلند و
                        پوشیده داشته باشند.
                        <br>
                        <br>
                        <strong>مهم :</strong>
                        <br>
                        با توجه با شرایط ایجاد شده، به لحاظ جلوگیری از تجمع و تداخل جمعیت در هنگام
                        تعویض سانس ها، از آوردن همراه جدا خودداری فرمائید.
                        <br>
                        برای این اتاق از پذیرش افراد با بیماری های خاص ، قلبی و عروقی و بانوان باردار
                        معذوریم .
                        <br>
                        در صورت عدم حضور، در زمان مقرر، مبلغ بیعانه پس داده نخواهد شد و در صورت تاخیر بیش از
                        20 دقیقه سانس کنسل تلقی می شود و امکان شروع بازی وجود ندارد.
                        <br>
                        رده سنی مناسب برای این اتاق 16+ می باشد.
                        <br>
                        <br>
                        <strong>توجه :</strong>
                        <br>
                        در زمان رزرو، هزینه 2 نفر به عنوان پیش پرداخت دریافت خواهد شد و مابقی بصورت
                        حضوری دریافت می شود.
                        <br>
                        سانس رزرو شده به هیچ عنوان قابل تغییر یا کنسلی نمی باشد لذا از ساعت و تاریخ انتخابی
                        پیش از رزرو سانس اطمینان حاصل کنید.

                    </div>

                    <div v-if='step == 3' class="reserve-dates" data-aos="fade-right">

                        <div class="date-info flex-wrap">
                            <div class="date-picker me-2">
                                <button name="date-picker select"
                                        class="date-picker-btn btn btn-success shadow-0 border-3  flex-fill me-3 justify-content-center align-items-center"
                                        placeholder="" @click='datepicker = true'>

                                    {% comment %} <div class="" :class="!datepicker_loader ? 'd-none' : ''">
                                            <i class="fas fa-spinner loading"></i>
                                        </div> {% endcomment %}

                                    <span v-if="!reserve_date">تاریخ را انتخاب کنید</span>
                                    <span v-if="reserve_date">[[reserve_date]] &nbsp;<i
                                            class="far fa-calendar"></i></span>
                                </button>
                            </div>
                            <div class="d-flex flex-column p-2 flex-wrap">
                                <span><i class="fas fa-circle fa-sm text-success"></i>&nbsp; نوبت های آزاد :
                                    <span class="badge badge-success fw-bold">[[free_turns]] نوبت</span></span>
                                <span><i class="fas fa-circle fa-sm text-danger"></i>&nbsp; نوبت های رزرو شده:
                                    <span class="badge badge-danger fw-bold">[[reserved_turns]] نوبت</span></span>
                            </div>
                        </div>
                        <div class="reserve-time-section mt-3">
                            <div>

                                <span class="empty_reserve_list" v-if='is_reservable_time_list_empty'>لطفا تاریخ رزرو را انتخاب کنید</span>
                                <label v-else v-for='item in reservable_time_list' :id='item.rand_id'
                                       @click='() => {select_time(item)}'>
                                    <span class="status-icon"></span>
                                    <div class="reserve-time-detail">
                                        {% if room.room_type == "REAL" %}
                                            <span class="time fw-bold">ساعت [[item.time]]</span>
                                        {% else %}
                                            <span class="time fw-bold">رزرو این روز</span>
                                        {% endif %}

                                        {% if room.price_per_unit %}
                                            <span class="price ">{{ room.price_per_unit }}</span>
                                        {% endif %}

                                    </div>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div v-if='step == 4' class="reserve-form p-2" data-aos="fade-right">
                        <div class="register-form-info">
                            <span class="fs-4 fw-bold mb-4 d-flex align-items-center justify-content-center">
                                 فرم اطلاعات شخصی
                            </span>
                            <div class="form-outline mb-4">
                                <input autocomplete="new-password" data-rule="notempty" type="text" id="accountpassword"
                                       class="form-control form-control-lg"/>
                                <label class="form-label" name="name" for="accountpassword">نام و نام خانوادگی</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input autocomplete="new-password" data-rule="notempty" type="text" id="accountpassword"
                                       class="form-control form-control-lg"/>
                                <label class="form-label" name="phone" for="accountpassword">شماره موبایل</label>
                            </div>
                            <div class="col-12">
                                <div class="form-outline mb-4">
                                    <input autocomplete="new-password" data-rule="notempty" type="text"
                                           id="accountpassword" class="form-control form-control-lg"/>
                                    <label class="form-label" name="coupon" for="accountpassword">کد تخفیف</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-outline mb-4">
                                    {% if room.room_type == "REAL" %}
                                        <input autocomplete="new-password" data-rule="notempty" type="number"
                                               id="accountpassword" class="form-control form-control-lg"/>
                                        <label class="form-label" name="persons" for="accountpassword">تعداد
                                            نفرات</label>
                                    {% else %}
                                        <label class="form-label" name="package" for="accountpassword">پکیج
                                            انتخابی</label>
                                        <select autocomplete="new-password" data-rule="notempty" type="text"
                                                id="accountpassword" class="form-control form-control-lg">
                                            {% for price in room.box_packages_prices %}
                                                <option value="{{ forloop.counter0 }}">
                                                    پکیج {{ forloop.counter }} : {{ price|intcomma }} تومان
                                                </option>
                                            {% endfor %}

                                        </select>

                                    {% endif %}

                                </div>
                            </div>
                            <div class="row ">

                            </div>
                            <div class="col-12">
                                <button class="btn btn-success fs-6">اعمال کد تخفیف</button>
                            </div>
                        </div>
                        <div class="register-form-detail">
                            <span class="fs-4 fw-bold mb-4 d-flex align-items-center justify-content-center">
                                اطلاعات رزرو
                            </span>

                            <div>
                                <p><b>روز انتخاب شده :</b> [[reserve_date]]</p>
                                <p>ساعت رزرو : [[selected_turn]]</p>
                            </div>
                            <hr>
                            <div>
                                <p><b>تعداد نفرات :</b> 5 نفر</p>
                                <p><b>مبلغ به ازای هر نفر :</b> 40 هزارتومان</p>
                            </div>
                            <hr>
                            <div>
                                <p><b>مبلغ کل :</b> 200 هزار توامان</p>
                                <p><b>مبلع با احتساب کد تخفیف :</b> 200 هزارتومان</p>
                            </div>
                            <hr>
                            <span class="mb-expand"></span>
                            <button class="btn btn-success btn-lg fs-6" @click='step = 5'>
                                پرداخت و ثبت اطلاعات
                            </button>
                        </div>
                    </div>

                </div>
                <div class="room-action-bar" v-if='step < 4'>
                    <div class="start-reserve action" v-if="step == 1">
                        <div>
                            <p class="text-danger fw-bold fs-5 m-0 p-0 zoghzogh">برای یه تجربه <span
                                    class="fw-bold fs-5 ">هیجان انگیز</span> آماده ای؟!
                            </p>
                            <p class="m-0 p-0 mt-2">چند قدم بیشتر نمونده … فقط کافیه اطلاعاتت رو وارد کنی!</p>
                        </div>
                        <button class="action-btn btn btn-success shadow-0 btn-lg" @click="step = 2">
                            مشاهده نوبت ها
                        </button>
                    </div>

                    <div class="accept-room-rols action" v-if="step == 2">
                        <div class="form-check d-flex flex-row align-items-center">
                            <input class="timing me-3" type="checkbox" value="" id="role-check"
                                   v-model="accept_rols"/>
                            <label class="text-start" for="role-check"><strong>تمامی شرایط و قوانین را
                                مطالعه کرده و قبول میکنم</strong></label>
                        </div>
                        <button class="action-btn btn btn-success shadow-0 btn-lg" @click="step = 3"
                                :class="!accept_rols ? 'disabled' : ''">
                            مرحله بعد
                        </button>
                    </div>

                    <div class="select-date action" v-if="step == 3">
                        <div class="reserved-details d-flex">
                            <div class="mb-status mb-status-purple d-flex flex-column align-items-start me-5">
                                <span class="fw-bold">نوبت انتخابی</span>
                                <span class="mt-2">[[reserve_date]] - [[selected_turn]]</span>
                            </div>

                            <div class="mb-status mb-status-success d-flex flex-column align-items-start ms-5">
                                <span class="fw-bold">مبلغ پیش پرداخت</span>
                                {% if room.room_type == "REAL" %}
                                    <span class="mt-2">نفری  {{ room.price_per_unit }}تومان [[picked]]</span>
                                {% else %}
                                    {% for price in room.box_packages_prices %}
                                        <span class="mt-2">پکیج {{ forloop.counter }}:  {{ price|intcomma }} تومان [[picked]]</span>
                                    {% endfor %}

                                {% endif %}
                            </div>

                        </div>
                        <button class="action-btn btn btn-success btn-lg shadow-0"
                                :class='!selected_turn ? "disabled" : "" ' @click="step = 4">تکمیل اطلاعات
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-container" id="reserve">
            <div class="room-image">
                <img loading="lazy" class="mb-shadow-50" src="{{ room.banner.url }}"
                     alt="خانه معما | اتاق فرار | {{ room.name }}">
            </div>
            <div class="room-detail-container mb-shadow-50">
                <div class="room-detail">
                    <div class="room-title">
                        <h2 id="title">{{ room.name }}</h2>
                        {% if room.price_per_unit %}
                            <span id="price"
                                  class="badge badge-success">نفری {{ room.price_per_unit|intcomma }} تومان</span>
                        {% endif %}
                    </div>
                    {% if room.room_type == "REAL" %}
                        <div class="room-info">
                            <div class="room-info-item">
                            <span class="info-icon">
                                <img loading="lazy" src="{% static 'main/' %}images/icons/detail-genre.svg"
                                     alt="ژانر | {{ room.name }}">
                            </span>
                                <span class="info-title mb-sans-num">اتاق فرار</span>
                            </div>
                            <div class="vr"></div>
                            <div class="room-info-item">
                            <span class="info-icon">
                                <img loading="lazy" src="{% static 'main/' %}images/icons/detail-team.svg"
                                     alt="تعداد نفرات تیم | {{ room.name }}">
                            </span>
                                <span class="info-title mb-sans-num">{{ room.min_players }} تا {{ room.max_players }} نفر</span>
                            </div>
                            <div class="vr"></div>
                            <div class="room-info-item">
                            <span class="info-icon">
                                <img loading="lazy" src="{% static 'main/' %}images/icons/detail-time.svg"
                                     alt="زمان بازی | {{ room.name }}">
                            </span>
                                <span class="info-title mb-sans-num">45 + 5</span>
                            </div>
                            <div class="vr"></div>
                            <div class="room-info-item">
                            <span class="info-icon">
                                <img loading="lazy" src="{% static 'main/' %}images/icons/detail-dificalaty.svg"
                                     alt="سختی بازی | فرار غافلگیرانه">
                            </span>
                                <span class="info-title mb-sans-num">{{ room.difficulty }}/100</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="room-info">
                            <div class="room-info-item">
                            <span class="info-icon">
                                <img loading="lazy" src="{% static 'main/' %}images/icons/detail-genre.svg"
                                     alt="ژانر | {{ room.name }}">
                            </span>
                                <span class="info-title mb-sans-num">اسکیپ باکس</span>
                            </div>
                            <div class="vr"></div>
                            {% for packages_price in room.box_packages_prices %}
                                <div class="room-info-item">
                            <span class="info-icon" style="width:100%;font-weight: bold">
                                پکیج {{ forloop.counter }}
                            </span>
                                    <span class="info-title mb-sans-num">{{ packages_price|intcomma }} تومان </span>
                                </div>
                                <div class="vr"></div>
                            {% endfor %}


                        </div>
                    {% endif %}
                    <div class="room-actions">
                        <button class="btn btn-success shadow-0 d-none" style="width: 10em;">رزرو</button>
                        <button class="btn btn-primary shadow-0 ms-2" style="width: 10em;">توضیحات</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>