{% load static %}
{% load custom_tags %}
<!-- Descripton -->
<section class="description mb-shadow">
    <p class="detail">
        {% autoescape off %}
                        {% get_context part="description" %}

        {% endautoescape %}

    </p>
    <div class="swiper cube-tip-box">
        <div class="swiper-wrapper">
            <div class="tip-card swiper-slide">
                <div class="tip-card-header">
                    <div class="tip-card-title-icon">
                        <img loading="lazy" src="{% static 'main/' %}images/icons/genres.svg" alt="">
                    </div>
                    <div class="tip-card-title">
                        {% get_context part="description" offset="1" tag="title" %}
                    </div>
                </div>
                <div class="tip-card-body">
                    <div r class="tip-card-text">
                        <p>
                            {% get_context part="description" offset="1" tag="text" %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="tip-card swiper-slide">
                <div class="tip-card-header">
                    <div class="tip-card-title-icon">
                        <img loading="lazy" src="{% static 'main/' %}images/icons/gamepad.svg" alt="">
                    </div>
                    <div class="tip-card-title">
                        {% get_context part="description" offset="2" tag="title" %}
                    </div>
                </div>
                <div class="tip-card-body">
                    <div r class="tip-card-text">
                        <p>
                            {% get_context part="description" offset="2" tag="text" %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="tip-card swiper-slide">
                <div class="tip-card-header">
                    <div class="tip-card-title-icon">
                        <img loading="lazy" src="{% static 'main/' %}images/icons/team.svg" alt="">
                    </div>
                    <div class="tip-card-title">
                        {% get_context part="description" offset="3" tag="title" %}
                    </div>
                </div>
                <div class="tip-card-body">
                    <div r class="tip-card-text">
                        <p>
                            {% get_context part="description" offset="3" tag="text" %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="tip-card swiper-slide">
                <div class="tip-card-header">
                    <div class="tip-card-title-icon">
                        <img loading="lazy" src="{% static 'main/' %}images/icons/idea.webp" alt="">
                    </div>
                    <div class="tip-card-title">
                       {% get_context part="description" offset="4" tag="title" %}
                    </div>
                </div>
                <div class="tip-card-body">
                    <div r class="tip-card-text">
                        <p>
                            {% get_context part="description" offset="4" tag="text" %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="swiper coverflow-tip-box">
    <div class="swiper-wrapper">
        <div class="tip-card swiper-slide">
            <div class="tip-card-header">
                <div class="tip-card-title-icon">
                    <img loading="lazy" src="{% static 'main/' %}images/icons/genres.svg" alt="ژانر">
                </div>
                <div class="tip-card-title">
                    {% get_context part="description" offset="1" tag="title" %}
                </div>
            </div>
            <div class="tip-card-body">
                <div r class="tip-card-text">
                    <p>
                        {% get_context part="description" offset="1" tag="text" %}
                    </p>
                </div>
            </div>
        </div>

        <div class="tip-card swiper-slide">
            <div class="tip-card-header">
                <div class="tip-card-title-icon">
                    <img loading="lazy" src="{% static 'main/' %}images/icons/gamepad.svg" alt="نحوه بازی">
                </div>
                <div class="tip-card-title">
                    {% get_context part="description" offset="2" tag="title" %}
                </div>
            </div>
            <div class="tip-card-body">
                <div r class="tip-card-text">
                    <p>
                        {% get_context part="description" offset="2" tag="text" %}
                    </p>
                </div>
            </div>
        </div>

        <div class="tip-card swiper-slide">
            <div class="tip-card-header">
                <div class="tip-card-title-icon">
                    <img loading="lazy" src="{% static 'main/' %}images/icons/team.svg" alt="تیم شما">
                </div>
                <div class="tip-card-title">
                    {% get_context part="description" offset="3" tag="title" %}
                </div>
            </div>
            <div class="tip-card-body">
                <div r class="tip-card-text">
                    <p>
                        {% get_context part="description" offset="3" tag="text" %}
                    </p>
                </div>
            </div>
        </div>

        <div class="tip-card swiper-slide">
            <div class="tip-card-header">
                <div class="tip-card-title-icon">
                    <img loading="lazy" src="{% static 'main/' %}images/icons/idea.webp" alt="ایده بازی">
                </div>
                <div class="tip-card-title">
                    {% get_context part="description" offset="4" tag="title" %}
                    ایده بازی
                </div>
            </div>
            <div class="tip-card-body">
                <div r class="tip-card-text">
                    <p>
                        {% get_context part="description" offset="4" tag="text" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Descripton -->