{% load static %}
{% load custom_tags %}
<!-- Head Slider -->
<div class="swiper head-slider mb-shadow">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img loading="lazy" src="{% static 'main/' %}images/slider/slide-1.jpg"
                alt="خانه معما | اولین، بزرگترین و تنها مجموعه بازی های اتاق فرار">
            <div class="slide-content">
                <h1 class="riddle-house">{% get_context part="slider" offset="1" tag="title" %}</h1>
                <h2 class="riddle-house-sub">{% get_context part="slider" offset="1" tag="subtitle" %}</h2>
                <h2 class="riddle-house-sub">{% get_context part="slider" offset="1" tag="text" %}</h2>
            </div>
        </div>
        <div class="swiper-slide">
            <img loading="lazy" src="{% static 'main/' %}images/slider/slide-2.jpg"
                alt="خانه معما | اولین، بزرگترین و تنها مجموعه بازی های اتاق فرار">
            <div class="slide-content">
                <h1 class="riddle-house">{% get_context part="slider" offset="2" tag="title" %}</h1>
                <h2 class="riddle-house-sub">{% get_context part="slider" offset="2" tag="subtitle" %}</h2>
                <h2 class="riddle-house-sub">{% get_context part="slider" offset="2" tag="text" %}</h2>
            </div>
        </div>
    </div>
    <div class="swiper-button-next">
        <i class="fas fa-caret-left swiper-left"></i>
    </div>
    <div class="swiper-button-prev">
        <i class="fas fa-caret-right swiper-right"></i>
    </div>
    <div class="swiper-pagination"></div>
</div>
<!-- Head Slider -->