{% load static %}
{% load humanize %}
<div v-show="step == 1">
    <h1 class="room-name">
        {{ room.name }}
        <span class="mb-expand"></span>
        <div class="md-price">
            {% if room.price_per_unit %}
                <span class="badge badge-success fs-6">
                نفری {{ room.price_per_unit|intcomma }} تومان
            </span>
            {% endif %}

        </div>
    </h1>

    <div class="room-scenario">
        <strong>سناریو</strong>
        <p>
            {% autoescape off %}


            {{ room.description }}
        </p>
        {% if room.warnings %}
            <br>
            <strong>توجه</strong>
            <p>
                    {{ room.warnings }}

            </p>
        {% endif %}

            {% endautoescape %}

    </div>
</div>
