{% load static %}
{% load humanize %}
<div v-show="step == 1">
    <h1 class="room-name">
        {{ room.name }}
        <span class="mb-expand"></span>
        <div class="md-price">
            {% if room.price_per_unit %}
                <span class="badge badge-success fs-6">
                نفری {{ room.price_per_unit|intcomma }} تومان
            </span>
            {% endif %}

        </div>
    </h1>
    {% if error %}
        {% if error == 1 or error == "1" %}
            <h6 style="color: #760000;margin-top: 25px;padding: 10px;background-color: #5737a157;border-radius: 15px;">
                متاسفانه یک نفر در حال پرداخت این سانس میباشد. لطفا 10 دقیقه دیگر دوباره
                تلاش کنید</h6>
        {% elif error == 2 or error == "2" %}
            <h6 style="color: #760000;margin-top: 25px;padding: 10px;background-color: #5737a157;border-radius: 15px;">
                متاسفانه یک نفر سریعتر از شما این سانس را رزرو کرد ! لطفا یک سانس دیگر را
                انتخاب کنید !</h6>
        {% elif error == "3" or error == "3" %}
            <h6 style="color: #760000;margin-top: 25px;padding: 10px;background-color: #5737a157;border-radius: 15px;">
                متاسفانه سانسی که انتخاب کرده بودید ، توسط کاربر دیگری رزرو شد . در صورتی که وجه از حساب شما کم شده باشد
                تا حداکثر 72 ساعت به حساب شما بازخواهد گشت.
            </h6>
        {% else %}
            <h6 style="color: #760000;margin-top: 25px;padding: 10px;background-color: #5737a157;border-radius: 15px;">
                مشکلی در زمان پرداخت پیش آمد . لطفا دوباره امتحان کنید</h6>

        {% endif %}
    {% endif %}
    <div class="room-scenario">
        <strong>سناریو</strong>
        <p>
            {% autoescape off %}


                {{ room.description }}
                </p>
                {% if room.warnings %}
                    <br>
                    <strong>توجه</strong>
                    <p>
                        {{ room.warnings }}

                    </p>
                {% endif %}

            {% endautoescape %}

    </div>
</div>
