{% load static %}
{% load humanize %}
<div class="d-flex justify-content-center align-items-start mb-5 mt-3 mx-2 flex-fill">
    <div class="receipt shadow-5" dir="rtl">
        <div class="receipt-header shadow-3 rounded">
            <div class="receipt-status">
                <div class="status-detail">
                    <span class="fs-4">رسید تراکنش</span>
                    <span class="text-success fw-bold">پرداخت موفق</span>
                </div>
                <div class="status-icon">
                    <i class="far fa-check-circle text-success fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="receipt-body">
            <p>
                <span><i class="far fa-credit-card text-success  me-3 fa-lg"></i></span>
                <span>مبلغ پرداخت شده : {{order_status.order.paid|intcomma}} تومان </span>
                <hr class="">
            </p>
            <p>
                <span><i class="fas fa-barcode text-primary me-3 fa-lg"></i></span>
                <span>شماره تراکنش : {{order_status.order.transaction_number}}</span>
                <hr class="">
            </p>
            <p>
                <span><i class="fas fa-money-check text-warning me-3 fa-lg"></i></span>
                <span>تاریخ رزرو : {{order_status.order.persian_dates.reserved}}</span>
                <hr class="">
            </p>
            <p>
                <span><i class="far fa-calendar-check text-info me-3 fa-lg"></i></span>
                <span>تاریخ و زمان پرداخت : {{order_status.order.persian_dates.created}}</span>

            </p>
        </div>
    </div>
    <div class="shadow-5 position-relative rounded mt-2 p-2 d-flex flex-fill w-100">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51806.720732534166!2d50.97062525!3d35.752769900000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8d95737d4a8719%3A0xfb4f3e9200a104dc!2sEco%20Mall!5e0!3m2!1sen!2s!4v1669784895002!5m2!1sen!2s"
            allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            style="border: 0px none;" class="w-100 h-100"></iframe>
        <div class="position-absolute end-0 bottom-0 me-3 mb-3">
            <button class="btn btn-primary">
                <img src="{% static 'main/images/neshan-logo.png' %}" width="14px" height="14px" alt="">
                مسیریابی با نشان
            </button>
        </div>
    </div>
</div>