{% load static %}
{% load humanize %}
<div class="d-flex justify-content-center align-items-start mb-5 mt-3 mx-2 flex-fill">
    <div class="receipt shadow-5" dir="rtl">
        <div class="receipt-header shadow-3 rounded">
            <div class="receipt-status">
                <div class="status-detail">
                    <span class="fs-4">رسید تراکنش</span>
                    <span class="text-danger fw-bold">پرداخت ناموفق</span>
                </div>
                <div class="status-icon">
                    <i class="far fa-times-circle text-danger fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="receipt-body">
            <p>
                <span><i class="far fa-credit-card text-danger  me-3 fa-lg"></i></span>
                <span>مبلغ  : {{payment.amount|intcomma}} تومان </span>
                <hr class="">
            </p>
            <p>
                <span><i class="fas fa-barcode text-primary me-3 fa-lg"></i></span>
                <span>شماره تراکنش :  - </span>
                <hr class="">
            </p>
            <p>
                <span><i class="fas fa-money-check text-warning me-3 fa-lg"></i></span>
                <span>تاریخ رزرو : {{payment.persian_dates.reserved}}</span>
                <hr class="">
            </p>
            <p>
                <span><i class="far fa-calendar-check text-info me-3 fa-lg"></i></span>
                <span>تاریخ و زمان پرداخت : {{payment.persian_dates.created}}</span>

            </p>
        </div>
    </div>
</div>