{% extends 'panel/base.html' %}
{% load humanize %}
{% load static %}
{% block styles %}
    <link href="{% static 'modules/mdb.rtl.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'modules/jalalidatepicker.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'panel/' %}styles/order.css">
    <link rel="stylesheet" href="{% static 'panel/' %}styles/dialog.css">
{% endblock %}
{% block contentHead %}
    <div class="content-head">
        <h4>مدیریت سفارش ها</h4>
    </div>
{% endblock %}


{% block dialogs %}
    {% include 'panel/order/order-add-pupop.html' %}
{% endblock dialogs %}

{% block content %}
    <div class="orders mt-3 px-3">
        <div class="mb-card mb-3" dir="rtl">
            <button class="btn btn-success" @click='order_add_pupop = true'>
                + ثبت نوبت حضوری
            </button>
        </div>
        <table class="table align-middle mb-0 bg-white" dir="rtl">
            <thead class="bg-light">
            <tr>
                <th>مشخصات</th>
                <th>اطلاعات</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr collapse-id-data='collapse_1'>
                    <td>
                        <span class="order-status bg-success"></span>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <p class="fw-bold mb-1">{{ order.customer_name }}</p>
                                <p class="text-muted mb-0">{{ order.customer_number }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="order-status bg-success"></span>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <p class="fw-bold mb-1">{{ order.room.name }}</p>
                                <p class="text-muted mb-0">{{ order.persian_dates.reserved }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">
              <span class="badge badge-success">
                <i class="fas fa-hand-holding-usd"></i>&nbsp;
                مبلغ: {{ order.paid|intcomma }} تومان
              </span>
                            <span class="badge badge-secondary">
                <i class="far fa-calendar-check"></i>&nbsp;
                پرداخت : {{ order.persian_dates.created }}
              </span>
                        </p>
                        <p class="text-muted mb-0">
              <span class="badge badge-info">
                <i class="fas fa-users"></i>&nbsp;
                تعداد نفرات : {{ order.players_number }}نفر
              </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="m-0 p-0">
                        <div collapse-id='collapse_1'>
                            <div style='min-height:5em;' class='px-3 py-2 d-flex align-items-center flex-wrap'>
                <span class="p-3 align-items-center d-flex">
                  <i class="fas fa-qrcode text-primary"></i>&nbsp;
                  شماره تراکنش : {{ order.transaction_number }}
                </span>
                                <span class="p-3 align-items-center d-flex">
                  <i class="fas fa-cut text-warning"></i>&nbsp;
                  کد تخفیف استفاده شده : {{ order.used_coupon }}                </span>
                                <span class="p-3 align-items-center d-flex">
                  <i class="fas fa-key text-danger"></i>&nbsp;
کلید : {{ order.key }}
                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        {% comment %} <div style="height: 5em; background-color:red;" class="mb-collapsible" collapse-id-data='collapse_1'></div>
    <div collapse-id='collapse_1'>
      asdsad
    </div> {% endcomment %}
    </div>
{% endblock %}


{% block footer-scripts %}
    <script src="{% static 'modules/vue.js' %}"></script>
    <script src="{% static 'modules/jalalidatepicker.min.js' %}"></script>
    <script src="{% static 'panel/scripts/orders.js' %}"></script>
{% endblock %}