{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
    <link href="{% static 'modules/mdb.rtl.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'modules/jalalidatepicker.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'panel/' %}styles/manage-rooms.css">
    <link rel="stylesheet" href="{% static 'panel/' %}styles/dialog.css">
{% endblock %}
{% block contentHead %}
    <div class="content-head">
        <h4>مدیریت بازی ها</h4>
    </div>
{% endblock %}

{% block header-scripts %}
{% comment %} {{room.default_hours}}
{{room.default_days}} {% endcomment %}
{% endblock header-scripts %}

{% block dialogs %}
{% include 'panel/schedule/add-schedule-pupop.html' %}
{% endblock dialogs %}

{% block content %}
 {% for room in rooms %}

 {% endfor %}
    <div class="manage-rooms mb-rtl">
        <div class="mb-filter mb-card mb-3">
            <a href="{% url 'main:createroom' %}">

                <button class="btn btn-success" @click='room_add_dialog = true'>
                    +&nbsp;&nbsp;ایجاد اتاق جدید
                </button>
            </a>

            

        </div>
        <table class="table align-middle mb-0">

            <tbody>
            {% for room in rooms %}
                <tr class="sm-room-name" id='{{room.id}}' :data='{{room.default_hours}}'>
                    <td colspan="2" class="shadow-5 border-0 text-center">
                        <span class="fw-bold">{{ room.name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            {% if room.banner %}
                            <img src="{{ room.banner.url }}" alt=""
                                 style="width: 8em; height: 5em;object-fit: cover;filter: brightness(1.2);"
                                 class="rounded bg-light"/>
                                {% else %}
                            {% endif %}

                            <div class="room-name me-3">
                                <span class="fw-bold">{{ room.name }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="m-0"><span
                                    class="badge badge-success  mb-1">{{ room.get_room_type_display }}</span></p>
                            {% if room.room_type == "REAL" %}
                                <p class="m-0"><span class="badge badge-danger ">نفری {{ room.price_per_unit|intcomma }} تومان </span>
                                </p>
                            {% else %}
                                {% for price in room.box_packages_prices %}
                                    <p class="m-0"><span
                                            class="badge badge-danger ">پکیج {{ forloop.counter }} : {{ price|intcomma }} تومان </span>
                                    </p>
                                {% endfor %}

                            {% endif %}

                        </div>

                    </td>
                </tr>
                <tr class="sm-room-actions">
                    <td colspan="2" class="text-center">
                        <div>

                            <a class="btn btn-link btn-sm btn-rounded" href="{% url 'main:room-page' pk=room.pk %}">
                                مشاهده
                            </a>

                            <a type="button" class="me-2 btn btn-link text-success btn-sm btn-rounded" href="{% url 'main:editroom' pk=room.pk %}">ویرایش
                            </a>

                            <button  @click='()=>show_schedule_pupop({{room.id}} ,{{room.default_days}}, {{room.default_hours}})' type="button" class="me-2 btn btn-link text-warning btn-sm btn-rounded">زمانبندی
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="sm-room-empty-space"></tr>
            {% endfor %}


            
            </tbody>
        </table>
    </div>
{% endblock %}


{% block footer-scripts %}
    <script src="{% static 'modules/vue.js' %}"></script>
    <script src="{% static 'modules/jalalidatepicker.min.js' %}"></script>
    <script src="{% static 'panel/scripts/manage_rooms.js' %}"></script>

{% endblock %}