{% load static %}
<div class="mb-menu mb-rtl">
    <div class="mb-menu-header">
        <span class="mb-menu-header-logo"></span>
    </div>
    <div class="mb-profile">
        {#        <div class="profile-img">#}
        {#            <img src="{% static 'panel/images/fake-profile.png' %}" alt="">#}
        {#        </div>#}
        <div class="profile-name">
            <span>{{ user.first_name }} {{ user.last_name }} خوش آمدید </span>
        </div>
    </div>
    <div class="mb-menu-content grtl">
        <ul class="mb-menu-items">
            <a href="#">
                <input type="checkbox" class="d-none" id="hamb-menu">
                <label class="mb-menu-item hamb-menu" for="hamb-menu">
                    <i class="fas fa-bars mb-menu-icon"></i>
                    <span>منو</span>
                </label>
            </a>
            <a href="{% url 'main:rooms' %}">
                <li class="mb-menu-item ripple {% if title == 'اتاق ها' %}
                active
                {% endif %} ">
                    <i class="fas fa-dice-d6 mb-menu-icon"></i>
                    <span>مدیریت بازی ها</span>
                </li>
            </a>
            <a href="{% url 'main:reserve_calendar' %}">
                <li class="mb-menu-item ripple {% if title == 'اتاق ها' %}
                active
                {% endif %} ">
                    <i class="far fa-calendar-alt mb-menu-icon"></i>
                    <span>تقویم رزرو</span>
                </li>
            </a>
            <a href="{% url 'main:schedule' %}">
                <li class="mb-menu-item ripple {% if title == 'زمان بندی ها' %}
                active
                {% endif %}">
                    <i class="fas far fa-clock mb-menu-icon"></i>
                    <span>زمان بندی ها </span>
                </li>
            </a>
            <a href="{% url 'main:orders' %}">
                <li class="mb-menu-item ripple {% if title == 'سفارش ها' %}
                active
                {% endif %} ">
                    <i class="fas fa-shopping-cart mb-menu-icon"></i>
                    <span>مدیریت سفارش ها</span>
                </li>
            </a>

            <a href="{% url 'main:coupans' %}">
                <li class="mb-menu-item ripple {% if title == 'کد های تخفیف' %}
                active
                {% endif %} ">
                    <i class="fas fa-cut mb-menu-icon"></i>
                    <span>کدهای تخفیف</span>
                </li>
            </a>
            <a href="{% url 'main:settings' %}">
                <li class="mb-menu-item ripple {% if title == 'تنظیمات' %}
                active
                {% endif %} ">
                    <i class="fas fa-cog mb-menu-icon"></i>
                    <span>تنظیمات</span>
                </li>
            </a>
            <a href="#">
                <li class="mb-menu-item ripple">
                    <i class="fas fa-sign-out-alt mb-menu-icon"></i>
                    <span>خروج</span>
                </li>
            </a>
            <span class="mb-expand"></span>
        </ul>
    </div>
    <span class="expand"></span>
    {% comment %} <div class="mb-menu-footer">
        <a href="#" class="ripple p-3 rounded mb-menu-item " >
            <i class="fas fa-sign-out-alt mb-menu-icon"></i>
            <span class="me-2">خروج</span>
        </a>
    </div> {% endcomment %}
</div>
