{% load static %}
<div class="mb-nav-container mb-rtl">
    <div class="mb-nav grtl">
        <div class="mb-nav-profile">
            <div class="mb-nav-profile-image">
                <img src="{% static 'panel/images/fake-profile.png' %}" alt="">
            </div>
            <div class="mb-nav-profile-name">
                <span>نام</span>
            </div>
        </div>
        <span class="mb-expand"></span>
        <a href="#" class="ripple p-3 text-white d-flex align-items-center mb-menu-item m-0 rounded-pill">
            <i class="fas fa-sign-out-alt mb-menu-icon"></i>
            <span class="me-2 logout">خروج</span>
        </a>
    </div>
</div>