{% load static %}
<!-- Head Slider -->
<div class="swiper head-slider mb-shadow">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img loading="lazy" src="{% static 'main/' %}images/slider/slide-1.jpg"
                alt="خانه معما | اولین، بزرگترین و تنها مجموعه بازی های اتاق فرار">
            <div class="slide-content">
                <h1 class="riddle-house">خانه معما</h1>
                <h2 class="riddle-house-sub">اولین، بزرگترین و تنها مجموعه بازی های اتاق فرار</h2>
                <h2 class="riddle-house-sub">عضو مرکز رشد پارک علم و فناوری</h2>
            </div>
        </div>
        <div class="swiper-slide">
            <img loading="lazy" src="{% static 'main/' %}images/slider/slide-2.jpg"
                alt="خانه معما | اولین، بزرگترین و تنها مجموعه بازی های اتاق فرار">
            <div class="slide-content">
                <h1 class="riddle-house">خانه معما</h1>
                <h2 class="riddle-house-sub">اولین، بزرگترین و تنها مجموعه بازی های اتاق فرار</h2>
                <h2 class="riddle-house-sub">عضو مرکز رشد پارک علم و فناوری</h2>
            </div>
        </div>
    </div>
    <div class="swiper-button-next">
        <i class="fas fa-caret-left swiper-left"></i>
    </div>
    <div class="swiper-button-prev">
        <i class="fas fa-caret-right swiper-right"></i>
    </div>
    <div class="swiper-pagination"></div>
</div>
<!-- Head Slider -->