{% load static %}
<!-- Navbar -->
<nav>
    <div class="nav-bar-head">
        <div class="menu-icon ripple rounded-pill" data-mdb-ripple-color="light" onclick="collapse_nav()">
            <i class="fas fa-bars fa-2x"></i>
        </div>
        <span class="mb-expand"></span>
        <div class="riddle-logo">
            <img loading="lazy" width="100%" src="{% static 'main/' %}images/riddle-logo.png" alt="">
        </div>
    </div>
    <ul class="nav-items">
        <li data-mdb-ripple-color="light" class="nav-item rounded-pill ripple">
            <a href="https://qom.riddlehouse.ir">
                صفحه اصلی
            </a>
        </li>
        <li data-mdb-ripple-color="light" class="nav-item rounded-pill ripple">
            <a href="#rooms">
                بازی ها
            </a>
        </li>
        <li data-mdb-ripple-color="light" class="nav-item rounded-pill ripple">
            <a href="#about-us">
                درباره ما
            </a>
        </li>
        <li data-mdb-ripple-color="light" class="nav-item rounded-pill ripple">
            <a href="https://blog.riddlehouse.ir/">
                وبلاگ
            </a>
        </li>
        </li>
        <li data-mdb-ripple-color="light" class="nav-item rounded-pill ripple">
            <a href="https://blog.riddlehouse.ir/category/%d8%b1%d8%b3%d8%a7%d9%86%d9%87/">
                دررسانه
            </a>
        </li>
       
    </ul>
</nav>
<!-- Navbar -->