.overview {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: auto;
    padding: 0em 1em;
    flex-direction: column;
}

.overview tbody {
    display: none;
}

.overview tbody.active {
    display: table-row-group;
}

.overview table {
    margin: 0;
    border-collapse: separate;
    border-spacing: 0 .5em;
}

.overview .table> :not(caption)>*>* {
    padding: 1em .7em;
}

.overview .table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid white !important;
    transition: all .2s;
}
.overview .table td:hover {
    filter: brightness(80%);
}

.overview table tbody tr {}

.overview table tbody td:first-child {
    border-radius: 0em 1em 1em 0em;
}

.overview table tbody td:last-child {
    border-radius: 1em 0em 0em 1em;
}

.md-overview {
    display: none;
}
/* .overview .table td:hover {
    background-color: var(--mdb-table-hover-bg)
} */

@media screen and (max-width: 1024px) {
    .md-overview {
        display: block;
    }

    .xl-overview {
        display: none;
    }
}


.md-room-calendar {
    display: none;
}

.md-room-calendar.active{
    display: inherit;
}


