.overview {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: auto;
    padding: 0em 1em;
    flex-direction: column;
}

.overview table td.vip {
    background-image: url("./../images/overview-vio-item.svg");
    background-size: contain;
    background-position: 10px 15px;
    background-repeat: no-repeat;
}

.overview tbody {
    display: none;
}

.overview tbody.active {
    display: table-row-group;
}

.overview table {
    margin: 0;
    border-collapse: separate;
    border-spacing: 0 .5em;
}

.overview .table> :not(caption)>*>* {
    padding: 1em .7em;
}

.overview .table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid white !important;
    transition: all .2s;
    position: relative;
}

.overview .table td:hover {
    /* filter: brightness(80%); */
}

.overview table tbody tr {}

.overview table tbody td:first-child {
    border-radius: 0em 1em 1em 0em;
}

.overview table tbody td:last-child {
    border-radius: 1em 0em 0em 1em;
}

.md-overview {
    display: none;
}

/* .overview .table td:hover {
    background-color: var(--mdb-table-hover-bg)
} */

@media screen and (max-width: 1024px) {
    .md-overview {
        display: block;
    }

    .xl-overview {
        display: none;
    }
}


.md-room-calendar {
    display: none;
}

.md-room-calendar.active {
    display: inherit;
}


.overview-item-tooltip {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255) !important;
    padding: 0.25em .5em;
    z-index: 9999;
    border-radius: 3em;
    box-shadow: 0px 0px 4px #5c8dff;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    display: flex;
    align-items: center;
    height: 3em;
}

.overview-item-tooltip button {
    width: 6em !important;
    margin: .1em 0.2em;
    padding: .5em 0em;
}

.overview .table td:hover>.overview-item-tooltip {
    top: -2.5em;
    opacity: 1;
    visibility: visible;
}

.overview-item-tooltip::before {
    content: '';
    width: 0.7em;
    height: 0.7em;
    background-color: white;
    display: flex;
    position: absolute;
    bottom: -.25em;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 0.13em 2px 3px #8dafff;
}