{% load static %}
{% load humanize %}
<div v-show="step == 2" class="reserve-rols">
    <b>بسیار مهم :</b>

    حتما ۱۵ دقیقه قبل از شروع بازی برای توضیحات و آماده سازی در مجموعه خانه معما حضور
    داشته باشید .در صورت تاخیر از زمان بازی شما کسر می شود و در صورت عدم حضور تا ۱۵
    دقیقه پس از شروع زمان اصلی بازی، سانس شما لغو خواهد شد.
    پس از رزرو تا زمان مشاهده کد رزرو منتظر بمانید . در صورت عدم دریافت کد رزرو ، مبلغ
    تا 72 ساعت کاری به حساب شما بازخواهد گشت . در صورت بروز هرگونه مشکلی میتوانید با
    شماره های پشتیبانی ثبت شده در سایت تماس حاصل نمایید.
    <br>
    رعایت شئونات اسلامی و حفظ حجاب الزامی است. در این اتاق بانوان می بایست لباس بلند و
    پوشیده داشته باشند.
    <br>
    <br>
    <strong>مهم :</strong>
    <br>
    با توجه با شرایط ایجاد شده، به لحاظ جلوگیری از تجمع و تداخل جمعیت در هنگام
    تعویض سانس ها، از آوردن همراه جدا خودداری فرمائید.
    <br>
    برای این اتاق از پذیرش افراد با بیماری های خاص ، قلبی و عروقی و بانوان باردار
    معذوریم .
    <br>
    در صورت عدم حضور، در زمان مقرر، مبلغ بیعانه پس داده نخواهد شد و در صورت تاخیر بیش از
    20 دقیقه سانس کنسل تلقی می شود و امکان شروع بازی وجود ندارد.
    <br>
    رده سنی مناسب برای این اتاق 16+ می باشد.
    <br>
    <br>
    <strong>توجه :</strong>
    <br>
    در زمان رزرو، هزینه 2 نفر به عنوان پیش پرداخت دریافت خواهد شد و مابقی بصورت
    حضوری دریافت می شود.
    <br>
    سانس رزرو شده به هیچ عنوان قابل تغییر یا کنسلی نمی باشد لذا از ساعت و تاریخ انتخابی
    پیش از رزرو سانس اطمینان حاصل کنید.

</div>