{% load static %}
<!-- footer -->
<div class="footer">
    <div class="footer-detail">
        <div class="sitemap">
            <ul>
                <li class="fw-bold">صفحات</li>
                <li>درباره ما</li>
                <li>آلبوم</li>
                <li>در رسانه</li>
                <li>بازیها</li>
            </ul>
        </div>
        <div class="branch">
            <ul>
                <li class="fw-bold">دسترسی سریع</li>
                <li>تهران</li>
                <li>قم</li>
            </ul>
        </div>
    </div>
    <span class="mb-expand"></span>
    <div class="licenses">
        <ul>
            <li class="license-item">
                <a href="#">
                    <img loading="lazy" src="{% static 'main/' %}images/licenses/tejarat-elec.png" alt="نماد تجارت الکترونیک">
                </a>
                <a href="#">
                    <img loading="lazy" src="{% static 'main/' %}images/licenses/SANAYE-KHALAGH-190x190.png"
                        alt="نماد صنایع خلاق">
                </a>
            </li>
 
            <li class="license-item">
                <a href="#">
                    <img loading="lazy" src="{% static 'main/' %}images/licenses/qum-park.png" alt="پارک علم و فناوری استان قم">
                </a>
            </li>

        </ul>
    </div>
</div>

<!-- footer -->

 <!-- copyright -->
 <div
 class="copyright bg-danger p-3 rtl text-center text-white d-flex align-itens-center justify-content-center">
 تمام حقوق سایت متعلق به خانه معما استان قم می باشد | هرگونه کپی برداری پیگرد قانونی خواهد داشت.
</div>
<!-- copyright -->