{% extends 'main/base.html' %}
{% load static %}
{% block links %}

<link rel="stylesheet" href="{% static 'main/' %}styles/reserve-page.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/calendar.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/rooms.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/informations.css">
<link rel="stylesheet" href="{% static 'main/' %}styles/footer.css">


{% endblock links %}

{% block content %}

<div id="application" roomId='{{ room.pk }}'>
    {% include 'main/roompage/reserve.html' %}
</div>

{% include 'main/rooms.html' %}
{% include 'main/about.html' %}
{% include 'main/footer.html' %}

{% endblock content %}

{% block scripts %}
<script defer src="{% static 'main/' %}scripts/roompage.js"></script>
{% endblock scripts %}