{% load static %}
{% load humanize %}
<div class="select-date action" v-show="step == 3">
    <div class="reserved-details d-flex">
        <div class="mb-status mb-status-purple d-flex flex-column align-items-start me-5">
            <span class="fw-bold">نوبت انتخابی</span>
            <span v-if='!is_reservable_time_list_empty' class="mt-2">
                [[reserve_date]] <span v-if='package.id'> - پکیج [[package.id]]</span>
            </span>
            <span v-else class="mt-2">انتخاب نشده</span>
        </div>
    </div>
    <button class="action-btn btn btn-success btn-lg shadow-0"
            :class='!package.id ? "disabled" : "" ' @click="step = 4">تکمیل اطلاعات
    </button>
</div>