<div class="gdialog-back" :class="order_add_pupop ? 'gdialog-show' : 'gdialog-hide'" @click="order_add_pupop=false">
</div>
<div class="gdialog-content mb-rtl col-md-2"
    :class="order_add_pupop ? 'gdialog-show gdialog-motion' : 'gdialog-hide gdialog-motion-off'"
    style="max-width: 90% !important; width: 30em;" dir="rtl">

    <div class="gdialog-head">
        <span class="gdialog-title fs-5">
            ثبت سفارش حضوری
        </span>
        <span class="mb-expand"></span>
        <span class="gdialog-close-icon ripple" @click='order_add_pupop=false'>
            <i data-feather="x" width="20px" height="20px"></i>
        </span>
    </div>

    <div class="gdialog-body">
        <div class="px-md-2">
            <form method="post" action="" class="gltr" ref='order_add_form'>
                {% csrf_token %}

                <div class="row">
                    <span class="badge badge-secondary mb-3">اطلاعات رزرو</span>
                    <p>
                        <input type="hidden" name="room_id" v-model="room.id">
                        نام اتاق: [[room.name]]
                    </p>
                    <p>
                        <input type="hidden" name="date" v-model="date">
                        تاریخ رزرو: [[date]]
                    </p>
                    <p>
                        <input type="hidden" name="hour" v-model="time">
                        ساعت رزرو: [[time]]
                    </p>
                    
                    <span class="badge badge-info mb-3">مشخصات مشتری</span>
                    <div class="col-6">
                        <input name="name" type="text" class="form-control" id="name" placeholder="نام">
                    </div>
                    <div class="col-6 mb-3">
                        <input name="phone" type="text" class="form-control" id="name" placeholder="شماره موبایل">
                    </div>
                    <div class="col-6">
                        <input name="players" type="number" class="form-control" id="players"
                            placeholder="تعداد بازیکن">
                    </div>
                    <div class="col-6 mb-3">
                        <input name="price" type="number" class="form-control" id="price" placeholder="مبلغ پیش پرداخت">
                    </div>
                    <div class="col-12 mb-3">
                        <input name="descriptions" type="text" class="form-control" id="desc" placeholder="توضیحات">
                    </div>

                    <div class="col-12 mt-4 d-flex flex-fill justify-content-end">
                        <button class="btn btn-primary btn-sm me-1">ثبت</button>
                        <span @click='order_add_pupop=false' class="btn btn-danger btn-sm">انصراف</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>