.weekday-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.weekday-selector label {
    flex: 1;
    position: relative;
    min-width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    margin: .1em;
}

.weekday-selector label span {
    min-width: fit-content;
    min-width: 6em;
}

.weekday-selector label::before {
    content: "\2714";
    width: 1.2em;
    height: 1.2em;
    background: white;
    display: flex;
    position: absolute;
    border-radius: 2em;
    left: 0.3em;
    bottom: 0.3em;
    z-index: 5;
    color: var(--mdb-success);
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: all .1s;
}

.weekday-selector input:checked+label {
    background-color: var(--mdb-success) !important;
}

.weekday-selector input:checked+label::before {
    opacity: 1 !important;
    transform: scale(1) !important;
}


span.tags-input-tag {
    background: pink;
    padding: 0.2em 1em;
    margin: .1em;
    border-radius: .2em;
}

.packages-container {
    background: #ffffff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.banner-section {
    display: flex;
    position: relative;
}

.banner-selector {
    min-width: 10em;
    max-width: 10em;
    position: absolute;
    left: calc(50% - 5em);
}

.banner-img {
    width: 5em;
    height: 100%;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-d-none {
    opacity: 0;
    visibility: hidden;
    transform: scale(.5);
    transition: all .3s;
}

.banner-animate-block {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important; 
}

.banner-label {
    height: 100%;
    border: 2px dashed #636c78;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-height: 5em;
    max-height: 5.3em;
}